<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Twitter USER Zone</title>
    <meta charset="utf-8" />
    <link rel="shortcut icon" th:href="@{/resources/images/favicon.ico}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/style.css}"/>
</head>
<body>
<div id="header" th:include="template :: header"></div>
<div id="logout" th:include="template :: logout"></div>
<!--<div th:substituteby="template :: logout"></div>-->
<div id="content">

    <h1>Twitter USER Zone</h1>
    <p>This is the <b>user</b> zone</p>
    <p>Only authenticated users with role <b>USER</b> are allowed to see this page.</p>
    <p><a th:href="@{/}">Back to index</a></p>

</div>
<div id="footer" th:include="template :: footer"></div>
</body>
</html>