<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login page</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/resources/style.css}"/>
</head>
<body>
<h1>Login page</h1>
<p>Example administrator: jim / demo</p>
<p>Example user: bob / demo</p>
<p>Example user and administrator: ted / demo</p>
<p th:if="${loginError}" class="error">Wrong user or password</p>
<!--<form th:action="@{/j_spring_security_check}" method="post">-->
    <!--<label for="j_username">Username</label>:-->
    <!--<input type="text" id="j_username" name="j_username" autofocus="autofocus" /> <br />-->
    <!--<label for="j_password">Password</label>:-->
    <!--<input type="password" id="j_password" name="j_password" /> <br />-->
    <!--<input type="submit" value="Log in" />-->
<!--</form>-->

<!--FIXED FOR Spring Security 4+-->
<!--/j_spring_security_check + j_username + j_password to /login + username + password-->

<form th:action="@{/login}" method="post">
    <label for="username">Username</label>:
    <input type="text" id="username" name="username" autofocus="autofocus" /> <br />
    <label for="password">Password</label>:
    <input type="password" id="password" name="password" /> <br />
    <input type="submit" value="Log in" />
</form>
<!--href="../_index"-->
<p><a th:href="@{/index}">Back to home page</a></p>
</body>
</html>