<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Twitter - Error page</title>
    <meta charset="utf-8" />
    <link rel="shortcut icon" th:href="@{/resources/images/favicon.ico}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/style.css}"/>
</head>
<body>
<div id="header" th:include="template :: header"></div>
<div id="content">

    <h1 th:text="${errorCode}">404</h1>
    <p th:utext="${errorMessage}">Error java.lang.NullPointerException</p>

    <br/>
    <p>configuration for error-pages in web.xml and LoginController /error </p>
    <br/><a th:href="@{/}">To main page</a>

</div>
<div id="footer" th:include="template :: footer"></div>
</body>
</html>