<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Twitter</title>
    <meta charset="utf-8" />
    <link rel="shortcut icon" th:href="@{/resources/images/favicon.ico}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/style.css}"/>
</head>
<body>
<div id="header" th:include="template :: header"></div>
<div id="logout" th:replace="template :: logout"></div>

<div sec:authorize="isAuthenticated()"> <!--hasRole('ROLE_ADMIN')-->
    Hello there...<span sec:authentication="name">user-name</span>
    <a th:href="@{/logout}">Logout / Sign Out</a><br/>
</div>

<div sec:authorize="isAnonymous()">
    You are NOT authorized user!
    <a th:href="@{/login}">Login / Sign In</a><br/>
</div>


<div sec:authorize="hasRole('ROLE_USER')">
    <br/>home hasRole('ROLE_USER')<br/>
</div>

<div sec:authorize="isAuthenticated()">
    <br/>home isAuthenticated<br/>
</div>

<div sec:authorize="isFullyAuthenticated()">
    <br/>home isFullyAuthenticated()<br/>
</div>

<div sec:authorize="isAnonymous()">
    <br/>home isAnonymous()<br/>
</div>

<!--maybe change isAuth to hasRole ???-->
<!--<div id="logout" th:include="template :: logout"></div>-->

<!--<div sec:authorize="isAnonymous()">-->
    <!--You are NOT authorized user!-->
    <!--<a th:href="@{/login}">Login</a><br/>-->
<!--</div>-->

<div id="content">

    <a th:href="@{/login}">LOGIN - make link with checking non-auth state</a><br/>

    <h1>Welcome!</h1>
    <!--<a th:href="@{/tweets}">Tweets</a> |-->
    <!--<a sec:authorize="isAnonymous()" th:href="@{/profile/signup}" >Sign Up</a><br/>-->
    <a th:href="@{/profile/signup}" >Sign Up</a><br/>
    <a th:href="@{/tweets}">Tweets</a><br/>



    <p>This is a demo of Thymeleaf and Spring-security integration.</p>
    <h2>Private pages</h2>
    <p>This is a public page, but you can navigate to protected pages to trigger authentication.</p>
    <ul>
        <!--href="admin/index.html" href="user/index.html" href="user/index.html"-->
        <li>Go to <a th:href="@{/admin/index}">administration zone</a> (only admins)</li>
        <li>Go to <a th:href="@{/user/index}">user zone</a> (only users)</li>
        <li>Go to <a th:href="@{/shared/index}">shared zone</a> (both users and admins)</li>
    </ul>
    <h2>Exception handling</h2>
    <ul>
        <li>You can <a th:href="@{/simulateError}">simulate an exception</a> to see custom ErrorPage.</li>
    </ul>



    <br/>
    <a th:href="@{/index}">INDEX (testing Spring Security)</a><br/>
    <!--todo TODEL index.html-->
    <a th:href="@{/upload}">UPLOAD (testing Multipart upload)</a><br/>

</div>
<div id="footer" th:include="template :: footer"></div>
</body>
</html>
