<!--<html xmlns="http://www.w3.org/1999/xhtml"-->
      <!--xmlns:th="http://www.thymeleaf.org"-->
      <!--xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">&ndash;&gt;-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!--<head th:include="template :: head"></head>-->
<head>
    <!--<meta charset="UTF-8">-->
    <!--charset would give bugs ????-->

    <title>Twitter</title>
    <link rel="shortcut icon"
          th:href="@{/resources/images/favicon.ico}"/>
    <link rel="stylesheet"
          type="text/css"
          th:href="@{/resources/style.css}"/>
</head>
<body>

<div id="header" th:include="template :: header"></div>




<div sec:authorize="isAuthenticated()"> <!--hasRole('ROLE_ADMIN')-->
    Hello there...<span sec:authentication="name">user-name</span>
    <a th:href="@{/logout}">Logout / Sign Out</a><br/>
</div>

<div sec:authorize="isAnonymous()">
    You are NOT authorized user!
    <a th:href="@{/login}">Login / Sign In</a><br/>
</div>




<div id="content">
    <h1>Welcome to T-Leaf!</h1>



    <!--<a th:href="@{/tweets}">Tweets</a> |-->
    <a th:href="@{/profile/signup}">Register</a><br/>
    <a th:href="@{/tweets}">Tweets</a><br/>

    <br/><a th:href="@{/upload}">TEST Multipart upload</a><br/>

    <!--View <span th:text="${view}">unknown</span>-->
</div>


<div id="footer" th:include="template :: footer"></div>
</body>
</html>

<!--NOW LINKS-->
<!--GET /-->
<!--GET /tweets-->
<!--... now without view ... /tweets/{tweetId}-->
<!--GET POST /profile/signup-->
<!--GET /profile/{username}-->

<!--TODO LINKS-->
<!--POST /login-->
<!--GET /login?error or /login-error-->
<!--GET /logout-->
<!--GET POST /signup (change from /profile/signup )-->
<!--GET PUT /me (profile of auth user)-->
<!--for ADMIN:-->
<!--GET /admin-->
<!--GET POST /admin/userList-->
<!--GET POST PUT /admin/userList/{username}-->
<!--GET POST /admin/userList/{username}/tweetList-->
<!--GET POST PUT /admin/userList/{username}/tweetList/{tweetId}-->