<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
        >
<head th:include="template :: headTemplate">
    <title id="pageTitle">Twitter - Profile</title>
</head>
<body>
<div id="header" th:include="template :: header"></div>
<!--uncomment after adding AUTOLOGIN -->
<!--<div id="logout" th:replace="template :: logout"></div>-->
<div id="content">

    <h1>Your Profile</h1>
    Username: <span th:text="${profile.username}">username</span><br/>
    <!--Name: <span th:text="${user.firstName}">First</span> <span th:text="${user.lastName}">Last</span><br/>-->
    Email: <span th:text="${profile.email}">email</span><br/>

    <!--Img: <br/><img th:src="${userProfile.profilePicture}"></img>-->
    <!--imgSrc: <br/><span th:text="${userProfile.profilePicture}">img address</span>-->
    <!--<span th:text="${pic.getSize()}">__-__</span>-->

    <br/>
    <a th:href="@{/}">To main page</a>

</div>
<div id="footer" th:include="template :: footer"></div>
</body>
</html>