<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Twitter</title>
    <link rel="shortcut icon"
          th:href="@{/resources/images/favicon.ico}"/>
    <link rel="stylesheet"
          type="text/css"
          th:href="@{/resources/style.css}"/>
</head>
<body>
<div id="header" th:include="template :: header"></div>

<div id="content">
    <h1>Welcome to Spitter</h1>

    <p>Example of form with multipart request</p>

    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/jpeg,image/png,image/gif" /><br/>
        <input type="submit"/>
    </form>
</div>

<div id="footer" th:include="template :: copy"></div>
</body>
</html>